<nav class="navbar navbar-inverse" style="background-color: #0a3665; ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color:#ffffff; " class="navbar-brand" href="/">PAGINA INICIAL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a style="color: #ffffff; " href="show">VER INFORMACOES</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a style="color: #ffffff; background-color: #0a3665;" class="dropdown-toggle" data-toggle="dropdown"
            href="#"><span class="glyphicon glyphicon-user"></span>VISUALIZAR TELA DE: <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">João Victor Macedo</a></li>
            <li><a href="#">Vinicius Nogueira</a></li>
            <li><a href="/">Guilherme Jakelee</a></li>
            <li><a href="#">Marcos</a></li>
            <li><a href="#">Thiago</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>